---
import { Cards } from "../components/Cards.jsx"
import Layout from "../layouts/Layout.astro"
import Welcome from "../layouts/Welcome.astro"
---

<Layout title="Minecraft Flowers Emporium">
	<div class="flex flex-col gap-4">
		<Welcome />
		<Cards />
	</div>
</Layout>

<style>

</style>
