---

---

<div class="block h-screen">
    <section
        class="background-image h-screen fixed top-0 right-0 left-0 bottom-0 -z-50"
    >
        <article
            class="flex items-center text-white justify-center h-screen bg-black/40"
        >
            <h2>Hola a todos!</h2>
        </article>
    </section>
</div>

<style>
    .background-image {
        background: url(/public/minecraftwallpaper.png);
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
